header {}

main {}

footer {
    .contactUs {}
    .footerLogo {}
    .upperMenu {}
    .lowerMenu {}
    .credits {}
    .legal_and_social {}
}

@include media("<=phone") {
    //every device smaller than phone
    * {
        border: solid 5px purple;
    }
}

@include media(">phone", "<=tablet") {
    //every device between phone and tablet
    * {
        border: solid 5px green;
    }
}

@include media(">tablet") {
    //every device bigger than tablet
    * {
        border: solid 5px violet;
    }
}

@include media("<=desktop") {}