header {}

main {}

footer {
    display: flex;
    flex-direction: column;
    .firstRow {
        // background-color: red;
        .contactUs {
            margin: 0 var(--bothVerticalSidesBodyPadding);
            // background-color: rebeccapurple;
            border: solid grey 1px;
        }
        .findUs {
            display: grid;
            // grid-template-rows: repeat(2, 1fr);
            // grid-template-columns: repeat(auto, 1fr);
            figure {
                // max-width: 767px;
                // height: 277.5px;
                display: flex;
                flex-direction: column;
                gap: .2rem;
                justify-content: center;
                align-items: center;
                padding: 80px 0;
                &:nth-child(odd) {
                    background-color: var(--almostDarkBlue_chub);
                }
                &:nth-child(even) {
                    background-color: var(--almostLightBlue_chub);
                }
                img.cityThumbnail {
                    height: 100px;
                    width: 105.5px;
                }
                .city {
                    /* Font & Text */
                    font-family: "Libre Baskerville", serif;
                    font-size: 25px;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 400;
                    letter-spacing: -1px;
                    line-height: 27.5px;
                    text-decoration: rgb(255, 255, 255);
                    text-align: center;
                    text-indent: 0px;
                    text-transform: none;
                    vertical-align: baseline;
                    white-space: normal;
                    word-spacing: 0px;
                    color: rgb(255, 255, 255);
                }
                .street {
                    @include street_footer;
                }
                .location {
                    @include street_footer;
                }
                .phone {
                    @include phone_footer;
                }
                .email {
                    @include phone_footer;
                }
            }
        }
    }
    .secondRow {
        padding: 0 var(--bothVerticalSidesBodyPadding);
        display: flex;
        flex-direction: column;
        gap: 50px;
        background-color: #031e32;
        background-image: linear-gradient(to top left, #123458, #071626);
        .footerLogo {
            padding-top: 50px;
            a {
                img {
                    width: 130px;
                    height: auto;
                }
            }
        }
        .upperMenu {
            // display: flex;
            // flex-direction: column;
            // gap: 50px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto, auto-fit);
            grid-gap: 50px;
            // &>div {
            &>div {
                max-width: 727px;
                &>h3 {
                    @include title_footerMenu;
                }
                &>ul {
                    &>li {
                        /* Font & Text */
                        font-family: "Gotham A", "Gotham B";
                        font-size: 14px;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: 500;
                        letter-spacing: normal;
                        line-height: 20px;
                        text-align: start;
                        text-indent: 0px;
                        text-transform: none;
                        vertical-align: baseline;
                        white-space: normal;
                        word-spacing: 0px;
                        color: var(--lightBlue_chub);
                        &>a {
                            color: inherit;
                            transition: .4s cubic-bezier(0.25, .46, .45, .94);
                            text-decoration: none;
                            &:hover {
                                color: var(--white_chub);
                            }
                        }
                    }
                }
            }
        }
        .lowerMenu {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto, auto-fit);
            grid-gap: 50px;
            &>div {
                max-width: 727px;
                &>h3 {
                    @include title_footerMenu;
                }
                &>ul {
                    &>li {
                        /* Font & Text */
                        font-family: "Gotham A", "Gotham B";
                        font-size: 14px;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: 400;
                        letter-spacing: normal;
                        line-height: 25px;
                        text-align: left;
                        text-indent: 0px;
                        text-transform: none;
                        vertical-align: baseline;
                        white-space: normal;
                        word-spacing: 0px;
                        color: var(--lightBlue_chub);
                        &>a {
                            color: inherit;
                            transition: .4s cubic-bezier(0.25, .46, .45, .94);
                            text-decoration: none;
                            &:hover {
                                color: var(--white_chub);
                            }
                            &:active {
                                color: var(--white_chub);
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        .credits_and_creator {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 35px);
            grid-template-areas: "credits credits""creator creator";
            gap: 1rem;
            padding-bottom: 75px;
            font-family: "Gotham A", "Gotham B";
            font-size: 12px;
            font-style: normal;
            font-variant: normal;
            font-weight: 500;
            letter-spacing: normal;
            line-height: 25px;
            text-align: left;
            text-indent: 0px;
            text-transform: none;
            vertical-align: baseline;
            white-space: normal;
            color: var(--white_chub);
            span {
                justify-self: center;
                align-self: center;
                text-align: center;
                // height: 25px;
            }
            .credits {
                grid-area: credits;
            }
            .creator {
                grid-area: creator;
            }
        }
    }
    .thirdRow {
        .legal_and_social {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: repeat(2, auto-fit);
            grid-template-areas: "legal legal" "social social";
            grid-gap: 0;
            background-color: red;
            padding: 0;
            margin: 0;
            &>ul {
                height: 60px;
            }
            &>.legal {
                padding: 0 var(--bothVerticalSidesBodyPadding);
                grid-area: legal;
                background-color: var(--veryDarkBlue_chub);
                display: flex;
                flex-wrap: wrap;
                column-gap: 1rem;
                align-items: center;
                &>li {
                    list-style: none;
                    &>a {
                        text-decoration: none;
                        font-family: "Gotham A", "Gotham B";
                        color: var(--lightBlue_chub);
                        font-size: 11px;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: 400;
                        letter-spacing: normal;
                        line-height: 25px;
                        text-align: left;
                        text-indent: 0px;
                        text-transform: uppercase;
                        vertical-align: baseline;
                        white-space: normal;
                        word-spacing: 0px;
                        // height: 14px;
                    }
                }
            }
            &>.social {
                padding: 0 var(--bothVerticalSidesBodyPadding);
                grid-area: social;
                background-color: var(--lightBlue_chub);
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: space-between;
                &>li {
                    list-style: none;
                    &>a {
                        text-decoration: none;
                        height: 20px;
                        width: 20px;
                        &>i {
                            &::before {
                                color: var(--veryDarkBlue_chub);
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media("<=phone") {
    //every device smaller than phone
    footer {
        border: solid 5px purple;
    }
}

@include media(">phone", "<=tablet") {
    //every device between phone and tablet
    footer {
        border: solid 5px green;
        .firstRow {
            .findUs {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                figure {
                    height: 277.5px;
                    flex: 1;
                }
            }
        }
        .secondRow {
            .credits_and_creator {
                grid-template-areas: "credits creator" "credits creator";
                span {
                    text-align: unset;
                }
                .credits {
                    justify-self: start;
                }
                .creator {
                    justify-self: end;
                }
            }
            .upperMenu {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(auto, auto-fit);
                &>div {
                    max-width: 355px; //tablet
                }
            }
            .lowerMenu {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(auto, auto-fit);
                &>div {
                    max-width: 355px; //tablet
                }
            }
        }
        .thirdRow {
            grid-template-rows: repeat(2, 30px);
            .legal_and_social {
                grid-template-areas: "legal social" "legal social";
            }
        }
    }
}

@include media(">tablet") {
    //every device bigger than tablet
    footer {
        border: solid 5px violet;
        .firstRow {
            .findUs {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                figure {
                    height: 277.5px;
                    flex: 1;
                }
            }
        }
        .secondRow {
            .footerLogo {
                @include containWithin80Percent;
            }
            .upperMenu {
                @include containWithin80Percent;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(auto, auto-fit);
                &>div {
                    max-width: 232.5px;
                }
            }
            .credits_and_creator {
                @include containWithin80Percent;
                grid-template-areas: "credits creator" "credits creator";
                span {
                    text-align: unset;
                }
                .credits {
                    justify-self: start;
                }
                .creator {
                    justify-self: end;
                }
            }
            .lowerMenu {
                @include containWithin80Percent;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(auto, auto-fit);
                &>div {
                    // min-width: 202.5px; //desktop
                    // min-width: 232.5px;
                    max-width: 232.5px;
                }
            }
        }
        .thirdRow {
            grid-template-rows: repeat(2, 30px);
            .legal_and_social {
                grid-template-areas: "legal social" "legal social";
                .social {
                    justify-content: flex-start;
                    gap: 2.5rem;
                }
            }
        }
    }
}