main {
    section {
        .digitalCreativeAgency {
            margin: 0 var(--bothVerticalSidesBodyPadding);
            padding: 80px 15px;
            display: grid;
            // grid-template-rows: 3fr 1fr 3fr 3fr;
            grid-template-rows: repeat(5, auto-fit);
            grid-template-columns: 1fr 3fr;
            grid-gap: 1rem;
            grid-template-areas: "_smallTitle _smallTitle"" _bigSubtitle  _bigSubtitle""_separator _separator""_content _content""_button _button";
            .card_smallTitle {
                grid-area: _smallTitle;
                // max-width: 80%;
            }
            .card_separator {
                grid-area: _separator;
            }
            .card_bigSubtitle {
                grid-area: _bigSubtitle;
                // max-width: 80%;
            }
            .card_content {
                grid-area: _content;
            }
            .card_button {
                grid-area: _button;
                background-color: transparent;
            }
        }
    }
}

@include media("<=phone") {
    //every device smaller than phone
    main {
        @include responsiveBorder(phone, main);
    }
}

@include media(">phone", "<=tablet") {
    //every device between phone and tablet
    main {
        @include responsiveBorder(tablet, main);
    }
}

@include media(">tablet") {
    //every device bigger than tabletssss
    main {
        @include responsiveBorder(desktop, main);
        section {
            .digitalCreativeAgency {
                grid-template-rows: repeat(4, auto);
                margin: 0 auto;
                max-width: 1170px;
                grid-template-areas: "_smallTitle  _bigSubtitle""_smallTitle  _separator""_smallTitle _content""_smallTitle _button";
                .card_smallTitle {
                    max-width: 80%;
                }
                .card_bigSubtitle {
                    max-width: 80%;
                }
            }
        }
    }
}

// }
// }