div .bot-line {
    /* Font & Text */
    font-family: "Gotham A", "Gotham B";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 20px;
    text-decoration: rgb(51, 51, 51);
    text-align: left;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    /* Color & Background */
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(51, 51, 51);
    /* Box */
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: ;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: 50px;
    min-width: 0px;
    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    /* List */
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
    /* Table */
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;
    /* Effects */
    transform: none;
    transition: ;
    outline: ;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}