p .pad-bot-20 {
    /* Font & Text */
    /* Box */
    height: 120px;
    width: 661.2px;
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: ;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    /* Positioning */
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    /* List */
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
    /* Table */
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
    /* Miscellaneous */
    overflow: visible;
    cursor: auto;
    visibility: visible;
    /* Effects */
    transform: none;
    transition: ;
    outline: ;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}