/*
Start: Common presets
*/

@import './globals/_global_presets.scss';
@import './globals/_global_mixins.scss';

/*
Start: Common presets
*/


/*
Start: home_page
*/

.home_page {
    @import './pages/_home_page.scss';
}

.template_page {
    @import './pages/_template_page.scss';
}


/*
End: home_page
*/