/*
Start: Common presets
*/

@import './globals/_global_presets.scss';
@import './globals/_global_mixins.scss';

/*
Start: Common presets
*/


/*
Start: header
*/

header {
    &.header-type-1 {
        @import './globals/header-type-1';
    }
    &.header-type-2 {
        @import './globals/header-type-2';
    }
}


/*
End: header
*/


/*
Start: home_page
*/

.home_page {
    @import './pages/_home_page.scss';
}


/*
End: home_page
*/


/*
Start: branding_page
*/

.branding_page {
    @import './pages/_branding_page.scss';
}


/*
End: branding_page
*/


/*
Start: careers_page
*/

.careers_page {
    @import './pages/_careers_page.scss';
}


/*
End: careers_page
*/


/*
Start: footer
*/

footer {
    display: flex;
    flex-direction: column;
    @import './globals/footer';
}


/*
End: footer
*/

.template_page {
    @import './pages/_template_page.scss';
}