/*
Start: Common presets
*/

@import './globals/_global_presets.scss';
@import './globals/_global_mixins.scss';

/*
Start: Common presets
*/


/*
Start: header
*/

header {
    // display: flex;
    // flex-direction: column;
    @import './globals/header';
}


/*
End: header
*/


/*
Start: home_page
*/

.home_page {
    @import './pages/_home_page.scss';
}


/*
End: home_page
*/


/*
Start: branding_page
*/

.branding_page {
    @import './pages/_branding_page.scss';
}


/*
End: branding_page
*/


/*
Start: footer
*/

footer {
    display: flex;
    flex-direction: column;
    @import './globals/footer';
}


/*
End: footer
*/

.template_page {
    @import './pages/_template_page.scss';
}