@mixin responsiveBorder($device) {
    @if $device==phone {
        // $part {
        border: solid 5px purple;
        // }
    }
    @else if $device==tablet {
        // $part {
        border: solid 5px green;
        // }
    }
    @else if $device==desktop {
        // $part {
        border: solid 5px violet;
        // }
    }
    @else {
        // $part {
        border: none;
        // }
    }
}

@mixin containWithin80Percent {
    width: 80%;
    margin: 0 auto;
}

@mixin containWithinPercent($percentWidth:80%) {
    width: $percentWidth;
    margin: 0 auto;
}

@mixin title_footerMenu {
    font-family: "Gotham A", "Gotham B";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 14.3px;
    text-align: start;
    text-indent: 0px;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    color: var(--white_chub);
}

@mixin street_footer {
    /* Font & Text */
    font-family: "Gotham A", "Gotham B";
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 25px;
    text-decoration: rgb(255, 255, 255);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    color: rgb(255, 255, 255);
}

@mixin phone_footer {
    /* Font & Text */
    font-family: "Gotham A", "Gotham B";
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 25px;
    text-decoration: var(--lightBlue_chub);
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    color: rgb(53, 189, 246);
}