@import '../libs/lib__include-media';
@import '../libs/gotham_fonts';
// $breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);
// desktop max 1024px
// tablet max 992px
// mobile max 768px
$breakpoints: (phone: 768px, tablet: 992px, desktop: 1024px);
:root {
    //Colors
    --lightBlue_chub: #35bdf6;
    --darkBlue_chub: #102e4e;
    --veryDarkBlue_chub: #001018;
    --white_chub: #ffffff;
    //left and right padding for all sections
    --leftBodyPadding: clamp(8.75px, 17.5px, 35px);
    --rightBodyPadding: clamp(8.75px, 17.5px, 35px);
    --bothVerticalSidesBodyPadding: clamp(17.5px, 35px, 70px);
}


/*Utility classes*/