.hero {
    height: 100vh;
    width: 100%;
    .hero_item {
        position: relative;
        height: 100%;
        width: 100%;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            // background: linear-gradient(to right, rgba(65, 0, 255, 0.4), rgba(255, 0, 232, 0.3));
            // background-color: var(--darkBlue_chub);
            background-color: #041f34;
            opacity: 1;
            mix-blend-mode: hard-light;
        }
        &>.hero_bg {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        &>figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas: "logoHolder ""heroContent";
            z-index: 2;
            &>.logoHolder {
                grid-area: logoHolder;
                display: grid;
                justify-content: start;
                align-items: end;
                img {
                    width: 150px;
                    height: auto;
                }
                margin: 0 var(--bothVerticalSidesBodyPadding);
            }
            &>.heroContent {
                padding: 0 var(--bothVerticalSidesBodyPadding);
                width: 80%;
                grid-area: heroContent;
                justify-self: start;
                align-self: center;
                display: grid;
                grid-template-rows: repeat(4, auto);
                grid-template-columns: 1fr 3fr;
                grid-gap: 1rem;
                grid-template-areas: " _bigSubtitle  _bigSubtitle""_separator _separator""_content _content""_button _button";
                .card_bigSubtitle {
                    grid-area: _bigSubtitle;
                    color: var(--white_chub);
                }
                .card_separator {
                    grid-area: _separator;
                }
                .card_content {
                    grid-area: _content;
                    color: var(--white_chub);
                }
                .card_button {
                    grid-area: _button;
                    background-color: transparent;
                    height: 70px;
                    width: 70px;
                }
            }
            &>.scrollHeroDownHolder {
                grid-area: scrollHeroDownHolder;
                position: absolute;
                bottom: 5%;
                right: 5%;
                cursor: pointer;
                img {
                    width: 50px;
                    height: auto;
                }
            }
        }
    }
}

.heroMenus {
    ul.ribbonMenu {
        display: grid;
        grid-template-columns: repeat(auto-fill, 112px);
        grid-auto-flow: column;
        grid-auto-columns: 112px;
        overflow-x: auto;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            /* Font & Text */
            font-family: "Gotham A", "Gotham B";
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: 500;
            letter-spacing: normal;
            line-height: 11px;
            text-decoration: rgb(255, 255, 255);
            text-align: center;
            text-indent: 0px;
            text-transform: uppercase;
            vertical-align: baseline;
            white-space: normal;
            word-spacing: 0px;
            color: rgb(255, 255, 255);
            border: 1px;
            // border-right: solid 1px var(--white_chub);
            border-left: 1px solid #0E1E23;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
            // width: 512px;
            background-color: var(--veryDarkBlue_chub);
            transition: .4s cubic-bezier(0.25, .46, .45, .94);
            transition-property: all;
            -webkit-transition-property: background-color, color;
            transition-property: background-color, color;
            &:hover {
                background-color: var(--lightBlue_chub);
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

@include media("<=phone") {
    //every device smaller than phone
    //border: solid 5px purple;
}

@include media(">phone", "<=tablet") {
    //every device between phone and tablet
    //border: solid 5px green;
    .hero {
        .hero_item {
            &>figcaption {
                grid-template-columns: repeat(2, auto);
                grid-template-rows: 1fr;
                grid-template-areas: "logoHolder heroContent";
                z-index: 2;
                grid-gap: 2rem;
                &>.logoHolder {
                    justify-self: start;
                    align-self: center;
                    margin: 0 0;
                }
                &>.heroContent {
                    justify-self: start;
                    align-self: center;
                    margin-top: 35%;
                    width: 60%;
                }
            }
        }
    }
    .heroMenus {
        background-color: red;
        ul.ribbonMenu {
            display: grid;
            // grid-template-columns: repeat(auto-fill, clamp( 191.75px, 252px, 255.55px));
            // grid-auto-columns: clamp( 191.75px, 252px, 255.55px);
            grid-template-columns: repeat(auto-fill, 252px);
            grid-auto-columns: 252px;
            background-color: red;
        }
    }
}

@include media(">tablet") {
    //every device bigger than tablet
    //border: solid 5px violet;
    .hero {
        .hero_item {
            &>figcaption {
                grid-template-columns: repeat(2, auto);
                grid-template-rows: 1fr;
                grid-template-areas: "logoHolder heroContent";
                z-index: 2;
                grid-gap: 2rem;
                &>.logoHolder {
                    justify-self: start;
                    align-self: center;
                    margin: 0 0;
                }
                &>.heroContent {
                    justify-self: start;
                    align-self: center;
                    margin-top: 15%;
                    min-width: 30%;
                    max-width: 40%;
                }
            }
        }
    }
    .heroMenus {
        background-color: red;
        ul.ribbonMenu {
            display: grid;
            grid-template-columns: repeat(auto-fill, 303px);
            grid-auto-columns: 303px;
            background-color: red;
        }
    }
}